* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #58597A;
}

h2 {
    font-weight: 500;
}

.dashboard {

    display: flex;
    overflow: hidden;
}

.left {
    height: 100%;
    display: flex;
    overflow: hidden;
}



.wrapper {
    padding: 0 25px;

    display: flex;
    flex-direction: column;
}

.navigation {
    width: 270px;
    height: 100%;
    border-right: 1px solid #ddd;

}

.learning-light {
    justify-content: center;
    margin: 0;
    display: flex;
    gap: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    color: #555778;
    border-bottom: 1px solid #EEF0FF;
}

.sidebar-content {
    padding: 0 20px;
}

.wrapper2 {

    height: 100%;
    overflow: auto;
}



.folders {
    margin-top: 30px;
    color: #b8b8b8;
    font-size: 14px;
}

.folder-icons {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.icon1 {
    color: #FCFCFD;
}

.icon-name1 {
    margin-left: 10px;
    color: #535ADF;
}

.icon-name {
    margin-left: 10px;
    color: grey;
}

.names {
    margin-left: 10px;
    font-weight: bold;
    font-size: 15px;
}

.wrapper3 {
    margin-top: 30px;

}

.homework {
    border-top: 1px solid #EEF0FF;
    padding-inline: 20px;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.flex {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Progress bars */
.homework-content {
    padding-inline: 20px;
    font-size: 14px;
}

.bg-lightblue {
    background-color: #EBEBF6;
    border-radius: 10%;
}

.bg-blue {
    background-color: #535ADF;
}

.flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Right Side */
.right-side {
    background-color: #fff;
    width: 100%;

    display: flex;
    flex-direction: column;
}

.right-header {
    border-bottom: 1px solid #EEF0FF;
    padding-block: 19px;

}

input {
    width: 600px;
    padding: 8px;
    padding-left: 20px;
    border-radius: 7px;
    opacity: 50px;
    border: none;
    outline: none;
    margin-left: 30px;
    background: #EFF0FF url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16'  margin='10' class='bi bi-search' viewBox='-3 0 18 18'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat left;


}

::placeholder {
    color: #A399B6;
    font-weight: 600;
    padding-left: 10px;
}

.right-body {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.top-bar {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-bar-justify {
    display: flex;
    align-items: center;
    gap: 20px;

}

.profile2>img {
    border-radius: 50%;
    height: 30px;
    width: 30px;

}

.profile2 {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 20px;

}

/* Body */

.header {
    padding-inline: 20px;
    padding-block: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    gap: 10px;
    font-size: 14px;
}

.header .items {
    background-color: #F6F7FF;
    padding-inline: 3px;
    padding-block: 5px;
    text-align: center;
    border-radius: 10px;
}

.header .items-blue {
    background-color: #535ADF;
    padding-inline: 3px;
    padding-block: 5px;
    text-align: center;
    border-radius: 10px;
    color: white;
}

/* Body CONTENT */
.body-flex {
    padding: 20px;
    display: flex;
    gap: 10px;
}

.w-70 {
    width: 70%;

}

.w-30 {
    width: 30%;
}

.text-blue {
    color: #535ADF;
    font-weight: 600;
}

.inclusive-design {
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: #EFF0FF;
    padding: 20px;
    border-radius: 4%;
    color: #503B71;
}

.img-profile {
    background-position: center;
    height: 40px;
    width: 40px;
    border-radius: 9px;
}

.m-0 {
    margin: 0;
}

.min {
    display: flex;
    width: fit-content;

    padding: 6px;
    gap: 4px;
    border-radius: 10px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #E1E3FE;

}

.min2 {
    display: flex;
    width: fit-content;
    margin: 0;
    padding: 6px;
    gap: 4px;
    border-radius: 10px;
    align-items: center;
    background-color: #E1E3FE;
}

.globe {
    margin-top: 0;
    margin-bottom: 20px;
}

.articles-flex {
    display: flex;
    gap: 10px;
}

.design-trends {
    background-color: #EFF0FF;
    padding: 20px;
    border-radius: 4%;
    color: #503B71;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.chats {
    background-color: #EFF0FF;
    padding: 20px;
    border-radius: 10%;
    display: flex;
    justify-content: center;
}

.chat-text {
    margin: 0;
    text-align: center;
    font-size: 14px;
}

/* Bottom Content */

.video-lessons {
    background: linear-gradient(to right,

            #5A61E9,
            #5A61E9 60%,
            #5057DE 60%,
            #5057DE 73.33%,
            #4249D1 73.33%,
            #4249D1 86.3%,
            #383FBB 86.3%,
            #383FBB);

    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 450px;
}

.heading {
    padding-bottom: 150px;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
}

.heading2 {
    margin-top: 0;
    padding-bottom: 25px;
    font-size: 14px;
    font-weight: 300;
}

.opacity {
    color: rgba(234, 240, 246, 0.8);
    font-size: 14px;
}

.opacity2 {
    color: #CDC6D6;
    font-size: 14px;
}

.card {
    background-color: #5A61E9;
    padding: 10px 0 0 10px;
    border-radius: 10px;
    color: white;
}

.gradeTriangle {
    width: 0px;
    height: 0px;
    border-bottom: 88px solid #020323;
    border-right: 35px solid transparent;
    border-left: 45px solid transparent;
    border-bottom-right-radius: 25px;
    opacity: 30%;
    bottom: 0;
    right: -8px;
    mix-blend-mode: color-burn;
    position: absolute;
}

.diamond {
    clip-path: polygon(50% 0%, 69% 30%, 68% 93%, 38% 29%);
    background-color: #3D43AF;
    opacity: 40%;
    width: 60px;
    height: 70px;
    position: absolute;

    bottom: 19px;
    right: -18px;
}

.card1-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 13px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-blend-mode: overlay;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
    border-bottom: 80px solid #555;
    position: absolute;
    margin-left: 50px;

}

.card2 {
    background-image: radial-gradient(circle at top right,
            #4249D1,
            #4249D1 30%,
            #5A61E9 30%,
            #5A61E9);
    ;
    padding: 10px;
    font-size: 13px;
    border-radius: 10px;
    color: white;

}


.video-lesson-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.teachers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 22px;
}

.teachers img {
    border-radius: 50%;
}

.profile {
    display: flex;
    gap: 15px;
    align-items: center;
}

.time {
    background-color: #2F3163;
    padding-inline: 10px;
    font-weight: 300;
    font-size: 14px;
    border-radius: 8px;
}


/* Body end */